<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
		<meta name="generator" content="Hugo 0.83.1">
		<title>Cartrack Node.js Challenge</title>
		
		<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/heroes/">
		
		
		
		<!-- Bootstrap core CSS -->
		<link href="./assets/css/bootstrap.min.css" rel="stylesheet">
		
		<style>
			.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
			}
			
			@media (min-width: 768px) {
			.bd-placeholder-img-lg {
			font-size: 3.5rem;
			}
			}
		</style>
		
		
		<!-- Custom styles for this template -->
		<link href="./assets/css/heroes.css" rel="stylesheet">
		
		<script src="./assets/js/bootstrap.bundle.min.js"></script>
		<script src="./assets/js/react.production.min.js"></script>
		<script src="./assets/js/react-dom.production.min.js"></script>	
		
	</head>
	<body>
		
		<main>
			<h1 class="visually-hidden"></h1>
			
			<div class="container">
				<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
					<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
						<!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#"/></svg> -->
						<span class="fs-4">Cartrack Node.js Challenge</span>
					</a>
					
					<ul class="nav nav-pills">
						<!-- <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
							<li class="nav-item"><a href="#" class="nav-link">Features</a></li>
							<li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
							<li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
						<li class="nav-item"><a href="#" class="nav-link">About</a></li> -->
					</ul>
				</header>
			</div>
			
			<!-- <div class="b-example-divider"></div> -->
			
			<%- include(template); %>
			
			<!-- <div class="b-example-divider mb-0"></div> -->
			<footer class="container">
				<!--<p class="float-end"><a href="#">Back to top</a></p>-->
				<p>Tay Zong Qing &middot; <a href="https://github.com/zqtay/cartrack-nodejs">Github</a> &middot; <a href="https://www.linkedin.com/in/zqtay">LinkedIn</a></p>
			</footer>
		</main>
	</body>
</html>
